* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.body {
  scroll-behavior: smooth;

  background-color: hsla(0, 0%, 0%, 1);
  color: hsla(0, 0%, 100%, 1);

  font-family: var(--font-family-inter);
  font-size: 16px;
  line-height: 1.2;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}

.body__page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 100vh;
  max-width: 880px;
  margin: 0 auto;
}