.card {
  max-width: 282px;
  width: 100%;
  height: 360px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.card__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  cursor: pointer;
  -webkit-user-drag: none;
}

.card__trash-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: visible;
}

.card__trash-button-icon {
  width: 19px;
  height: 20px;
  fill: red;
  pointer-events: none;
}

.card__trash-button:hover {
  opacity: 0.6;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.card__title {
  font-family: var(--font-family-inter);
  font-size: 24px;
  font-weight: 900;
  color: #000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}

.card__like-button {
  width: 21px;
  height: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: visible;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button-icon {
  width: 21px;
  height: 19px;
  fill: none;
  stroke: #000;
  pointer-events: none;
}

.card__like-button_active .card__like-button-icon {
  fill: #000;
}