.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  width: 100%;
  row-gap: 48px;
  overflow: hidden;
}

.form__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  row-gap: 12px;
  border: none;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
}

.form__input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid hsl(0, 0%, 0%, 0.2);
  padding: 0 0 8px;
  outline: none;
}

.form__input::-webkit-input-placeholder {
  color: hsl(0, 0%, 0%, 0.6);
}

.form__input::-moz-placeholder {
  color: hsl(0, 0%, 0%, 0.6);
}

.form__input:-ms-input-placeholder {
  color: hsl(0, 0%, 0%, 0.6);
}

.form__input::-ms-input-placeholder {
  color: hsl(0, 0%, 0%, 0.6);
}

.form__input::placeholder {
  color: hsl(0, 0%, 0%, 0.6);
}

.form__input:focus {
  border-bottom: 1px solid hsl(0, 0%, 0%, 0.6);
}

.form__input_status_invalid, 
.form__input_status_invalid:focus {
  border-bottom: 1px solid #f00;
}

.form__error {
  visibility: hidden;
  color: #f00;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 5px;
}

.form__input_status_invalid + .form__error {
  visibility: visible;
}

.form__submit {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  -webkit-transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
       -o-transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
          transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  cursor: pointer;
}

.form__submit:hover {
  opacity: 0.8;
}

.form__submit:focus-visible {
    outline: 1px solid #000;
    outline-offset: 2px;
}

.form__submit_disabled {
  background-color: white;
  color: #000;
  border: 1px solid #000;
  opacity: 0.2;
  cursor: not-allowed;
}

.form__submit_disabled:hover {
  opacity: 0.2;
}

.form__submit_error {
  background-color: white;
  color: #f00;
  border: 1px solid #f00;
}