/* Autoprefixer: v10.4.7
*/

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  padding: 0 16px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  overflow: visible;
}

.popup_active {
  visibility: visible;
  opacity: 1;
}

.popup__close-button {
  position: absolute;
  top: -32px;
  right: -32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  overflow: visible;
}

.popup__close-button_type_image {
  top: -40px;
  right: -40px;
}

.popup__close-button-icon {
  width: 24px;
  height: 24px;
    rotate: 45deg;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.popup__close-button_type_image .popup__close-button-icon {
  width: 32px;
  height: 32px;
}


.popup__close-button:hover .popup__close-button-icon {
    rotate: 225deg;
    opacity: 0.6;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.popup__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  padding: 34px 36px 37px;
  gap: 54px;
  position: relative;
}

.popup__container_type_image {
  -webkit-box-align: start;
     -ms-flex-align: start;
        align-items: flex-start;
  width: auto;
  max-width: 75vw;
  max-height: 75vh;
  background-color: transparent;
  padding: 0;
  gap: 12px;
}

.popup__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000;
  margin: 0;
}

.popup__title_type_image {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  margin: 0;
}

.popup__image {
  height: 100%;
  max-height: 75vh;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  overflow: visible;
}

@media (max-width: 500px) {
  .popup__close-button {
    -webkit-transform: translate(-28px, -12px);
        -ms-transform: translate(-28px, -12px);
            transform: translate(-28px, -12px);
}

  .popup__close-button_type_image {
    -webkit-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
            transform: translateX(-30px);
  }

  .popup__close-button_type_image .popup__close-button-icon {
    width: 16px;
    height: 16px;
  }
}