.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  align-content: center;
  justify-items: center;
  padding: 0 16px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.popup_active {
  visibility: visible;
  opacity: 1;
}

.popup__close-button {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position-anchor: --popup;
  position-area: top right;
  transition: 0.3s ease-in-out;
}

.popup__close-button_type_image {
  width: 40px;
  height: 40px;
}

.popup__close-button_type_image .popup__close-button-icon {
  width: 32px;
  height: 32px;
}


.popup__close-button-icon {
    rotate: 45deg;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.popup__close-button:hover .popup__close-button-icon {
    rotate: 225deg;
    opacity: 0.6;
    transition: 0.3s ease-in-out;
}

.popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  padding: 34px 36px 37px;
  gap: 54px;
  position: relative;
  anchor-name: --popup;
}

.popup__container_type_image {
  align-items: flex-start;
  width: auto;
  max-width: 75vw;
  max-height: 75vh;
  background-color: transparent;
  padding: 0;
  gap: 12px;
}

.popup__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000;
  margin: 0;
}

.popup__title_type_image {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  margin: 0;
}

.popup__image {
  height: 100%;
  max-height: 75vh;
  width: 100%;
  object-fit: contain;
  object-position: center;
  overflow: visible;
}

.popup__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 48px;
  overflow: hidden;
}

.popup__fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  border: none;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
}

.popup__label {
  display: flex;
  flex-direction: column;
  /* row-gap: 4px; */
}

.popup__input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid hsl(0, 0%, 0%, 0.2);
  padding: 0 0 8px;
  outline: none;
}

.popup__input::placeholder {
  color: hsl(0, 0%, 0%, 0.6);
}

.popup__input:focus {
  border-bottom: 1px solid hsl(0, 0%, 0%, 0.6);
}

.popup__input_status_invalid, 
.popup__input_status_invalid:focus {
  border-bottom: 1px solid #f00;
}

.popup__error {
  visibility: hidden;
  color: #f00;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 5px;
}

.popup__input_status_invalid + .popup__error {
  visibility: visible;
}

.popup__submit {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  cursor: pointer;
}

.popup__submit:hover {
  opacity: 0.8;
}

.popup__submit:focus-visible {
    outline: 1px solid #000;
    outline-offset: 2px;
}

.popup__submit_disabled {
  background-color: white;
  color: #000;
  border: 1px solid #000;
  opacity: 0.2;
  cursor: not-allowed;
}

.popup__submit_disabled:hover {
  opacity: 0.2;
}

@media (max-width: 500px) {
    .popup__close-button {
        transform: translate(-22px, -12px);
    }

    .popup__close-button_type_image {
      width: 24px;
      height: 24px;
    }

    .popup__close-button_type_image .popup__close-button-icon {
      width: 16px;
      height: 16px;
    }
}