.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-);
}

.profile__container {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 20px;
}

.profile__avatar-button {
  position: relative;
  width: 120px;
  height: 120px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.profile__avatar-button:has(.profile__avatar-image_placeholder)::after{
  content: ' ';
  background-color: #202020;
  position: absolute;
  top: 0;
  left: -1px;
  width: 102%;
  height: 101%;
  border-radius: 49%;
  z-index: 1;
}

.profile__avatar-image {
  width: 100%;
  height:  100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s ease;
}

.profile__avatar-button:hover .profile__avatar-image {
  filter: brightness(0.3);
  background-image: url("../images/edit-icon.svg");
  background-position: center center;
}

.profile__avatar-icon {
  width: 24px;
  height: 24px;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: 0.4s ease;
}

.profile__avatar-button:hover .profile__avatar-icon {
  opacity: 1;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
}

.profile__name-container {
  display: flex;
  align-items: flex-end;
  gap: 18px;
}

.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__name_placeholder {
  height: 42px;
  width: 500px;
}

.profile__edit-button {
  width: 24px;
  min-width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  transition: 0.2s ease;
  position: relative;
  bottom: 8px;
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: 0.2s ease;
}

.profile__edit-button-icon {
  width: 10px;
  height: 10px;
  align-self: center;
}

.profile__about {
  font-size: 18px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__name_placeholder,
.profile__about_placeholder {
  color: transparent;
  background: #202020;
}

.profile__about_placeholder {
  width: 80%;
  height: 18px;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  transition: 0.2s ease;
}

.profile__add-button-icon {
  width: 22px;
  height: 22px;
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: 0.2s ease;
}

@media (max-width: 920px) {
  .profile {
    flex-direction: column;
    align-items: center;
    gap: 36px;
  }

  .profile__container {
    padding-right: 0;
  }


  .profile__add-button {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .profile {
    gap: 36px;
  }

  .profile__container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .profile__info {
    max-width: 100%;
    text-align: center;
    gap: 10px;
  }

  .profile__name-container {
    justify-content: center;
  }

}

@media (max-width: 400px) {
  .profile__name {
    text-align: center;
    font-size: 22px;
  }

  .profile__about {
    font-size: 16px;
  }
}